name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build-and-test:
    strategy:
      matrix:
        include:
          - os: macos-latest
          - os: ubuntu-latest
            container: swift:6.0
    runs-on: ${{ matrix.os }}
    container: ${{ matrix.container }}
    steps:
      - uses: actions/checkout@v4

      - name: Build (Debug)
        run: swift build

      - name: Build (Release)
        run: swift build -c release

      - name: Run tests
        run: swift test
